@CHARSET "UTF-8";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu-header{
	font-weight: bolder;
	letter-spacing: 3px;
}
.sidebar{
	text-align: center !important;
}
.menu-column{
	min-height: 100%;
}
html{
	overflow-y: scroll;
}