<div data-ng-controller="AddGuestController">
	<div class="col-lg-5 col-lg-offset-1">

		<form class="form-horizontal" data-role="form" name="addGuestForm"
			data-ng-submit="submit()" novalidate>
			<fieldset>
				<legend>New Guest</legend>

				<div
					data-ng-class="{'has-success':addGuestForm.fullName.$valid,'has-error':addGuestForm.fullName.$invalid}"
					class="form-group has-feedback">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Full Name"
							data-ng-minlength="5" data-ng-model="formData.fullName"
							required="required" maxlength="100" name="fullName" id="fullName">
						<div data-ng-show="addGuestForm.fullName.$dirty">
							<span class="glyphicon glyphicon-ok form-control-feedback"
								data-ng-show="addGuestForm.fullName.$valid"></span> <span
								class="glyphicon glyphicon-remove form-control-feedback"
								data-ng-show="addGuestForm.fullName.$invalid"></span>
						</div>
					</div>
				</div>
				<div class="form-group has-feedback"
					data-ng-class="{'has-success':(addGuestForm.email.$dirty && addGuestForm.email.$valid),'has-error':(addGuestForm.email.$dirty &&addGuestForm.email.$invalid)}">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" name="email" id="email"
							data-ng-model="formData.email" placeholder="Email (Optional)">
						<div data-ng-show="addGuestForm.email.$dirty">
							<span class="glyphicon glyphicon-ok form-control-feedback"
								data-ng-show="addGuestForm.email.$valid"></span> <span
								class="glyphicon glyphicon-remove form-control-feedback"
								data-ng-show="addGuestForm.email.$invalid"></span>
						</div>
					</div>
				</div>
				<div class="form-group has-feedback">
					<div class="col-sm-offset-2 col-sm-10"
						data-ng-show="formData.email.length>0">
						<div class="checkbox">
							<label> <input type="checkbox" name="sendInvite"
								id="sendInvite" checked="checked"
								data-ng-model="formData.sendInvite" data-ng-true-value="true"
								data-ng-false-value="false" /> Send Email Invite
							</label>
						</div>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="phone" class="col-sm-2 control-label">Phone</label>
					<div class="col-sm-10">
						<input type="tel" class="form-control" name="phone" id="phone"
							data-ng-min-length=10 data-ng-model="formData.phone"
							placeholder="Phone (Optional)">
					</div>
				</div>
				<div class="form-group has-feedback"
					data-ng-class="{'has-success':addGuestForm.address.$valid,'has-error':addGuestForm.address.$invalid}">
					<label for="" class="col-sm-2 control-label">Address</label>
					<div class="col-sm-10">
						<textarea rows="4" cols="3" class="form-control"
							spellcheck="false" placeholder="Address (required)"
							data-ng-minlength="5" data-ng-maxlength="200"
							data-ng-model="formData.address" name="address" id="address"
							required="required">
						</textarea>
						<div data-ng-show="addGuestForm.address.$dirty">
							<span class="glyphicon glyphicon-ok form-control-feedback"
								data-ng-show="addGuestForm.address.$valid"></span> 
							<span class="glyphicon glyphicon-remove form-control-feedback"
								data-ng-show="addGuestForm.address.$invalid"></span>
						</div>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="guestType" class="col-sm-2 control-label"
						title="Family / Indivdual ">Type</label>
					<div class="col-sm-10">
						<select name="formData.guestType" id="formData.guestType"
							class="form-control" data-ng-model="formData.guestType">
							<option value="INDIVIDUAL" selected>Individual</option>
							<option value="FAMILY">Family</option>
						</select>
					</div>
				</div>
				<div class="form-group has-feedback"
					data-ng-show="formData.guestType=='FAMILY'">
					<label for="plus" class="col-sm-2 control-label" title="">Plus</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="50" value="0"
							name="accompaniedBy" id="accompaniedBy"
							data-ng-model="formData.accompaniedBy" />
					</div>
				</div>
				<div class="form-group has-feedback">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-block"
							data-ng-class="{disabled:(addGuestForm.$pristine || addGuestForm.$invalid)}">Submit</button>
						<button type="button" data-ng-click="reset()"
							class="btn btn-warning btn-block">Reset</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-lg-5 "></div>
</div>