<div class="col-lg-8 col-lg-offset-1"
	data-ng-controller="ListGuestController">
	<div class="row">
		<div class="col-lg-9">
			<form class="form-inline" role="form">
				<div class="form-group">
					<label class="sr-only" for="filterText">Filter
						address</label> <input type="text" class="form-control"
						data-ng-model="filterText" name="filterText" id="filterText"
						placeholder="Enter filter text">
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<h2>Guest List</h2>
		<table class="table table-hover ">
			<thead>
				<tr>
					<th><a data-ng-click="orderBy='fullName' ; (orderDirection = !orderDirection);"> Name</a></th>
					<th><a data-ng-click="orderBy='email' ; (orderDirection = !orderDirection);">Email</a></th>
					<th><a data-ng-click="orderBy='phone' ; (orderDirection = !orderDirection);">Phone</a></th>
					<th><a data-ng-click="orderBy='city' ; (orderDirection = !orderDirection);">Address</a></th>
					<th><a data-ng-click="orderBy='guestType' ; (orderDirection = !orderDirection);">Type</a></th>
					<th><a data-ng-click="orderBy='accompaniedBy' ; (orderDirection = !orderDirection);">Plus</a></th>
					<th><th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="guest in guestList | filter:filterText| orderBy:orderBy:orderDirection">
					<td><a href="#/guest/detail/{{guest.id}}"> {{guest.fullName}}</a></td>
					<td>{{guest.email}}</td>
					<td>{{guest.phone}}</td>
					<td>{{guest.address}}</td>
					<td>{{guest.guestType}}</td>
					<td>{{guest.accompaniedBy}}</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
